
.indymedia_cities-accordion.ui-accordion .ui-accordion-li-fix {
  display: block;
}
.indymedia_cities-accordion .ui-accordion-header {
  display: block;
  padding-left: 2em;
}
.block ul.indymedia_cities-accordion, .block ul.indymedia_cities-accordion li {
  padding: 0;
}
